In [11]:
from pyspark.sql import DataFrame, SparkSession
from pyspark.sql import functions as F, types as T
from pyspark.rdd import RDD

import os

print(os.getenv("JAVA_HOME"))

None

In [13]:
import pyspark
pyspark.__path__[0]

'/home/ppaton/Documents/learn-pyspark/.venv/lib/python3.12/site-packages/pyspark'

In [2]:
spark: SparkSession = SparkSession.builder \
    .appName("Parallel Array Processing") \
    .master("local[2]") \
    .getOrCreate()
sc = spark.sparkContext
print(f"Monitor cluster at: {sc.uiWebUrl}")

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/05/31 16:31:11 WARN Utils: Your hostname, ppaton-desktop, resolves to a loopback address: 127.0.1.1; using 192.168.0.174 instead (on interface wlp3s0)
25/05/31 16:31:11 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/31 16:31:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Monitor cluster at: http://ppaton-desktop.Home:4040

### Generate and process resilient distributed dataset (RDD) from an array on the driver

In [3]:
data = [1, 2, 3, 4, 5]
rdd: RDD[int] = sc.parallelize(data)
result = rdd.map(lambda x: x * 2).collect()
print(result)  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

### Generate and process a DataFrame from a .csv file on the driver

In [5]:
higgs_data: DataFrame = spark.read.csv(
    "../data/HIGGS.csv",
    header=False,
    inferSchema=True
)
higgs_data.printSchema()

root
 |-- _c0: double (nullable = true)
 |-- _c1: double (nullable = true)
 |-- _c2: double (nullable = true)
 |-- _c3: double (nullable = true)
 |-- _c4: double (nullable = true)
 |-- _c5: double (nullable = true)
 |-- _c6: double (nullable = true)
 |-- _c7: double (nullable = true)
 |-- _c8: double (nullable = true)
 |-- _c9: double (nullable = true)
 |-- _c10: double (nullable = true)
 |-- _c11: double (nullable = true)
 |-- _c12: double (nullable = true)
 |-- _c13: double (nullable = true)
 |-- _c14: double (nullable = true)
 |-- _c15: double (nullable = true)
 |-- _c16: double (nullable = true)
 |-- _c17: double (nullable = true)
 |-- _c18: double (nullable = true)
 |-- _c19: double (nullable = true)
 |-- _c20: double (nullable = true)
 |-- _c21: double (nullable = true)
 |-- _c22: double (nullable = true)
 |-- _c23: double (nullable = true)
 |-- _c24: double (nullable = true)
 |-- _c25: double (nullable = true)
 |-- _c26: double (nullable = true)
 |-- _c27: double (nullable = true)
 |-- _c28: double (nullable = true)

In [9]:
(
    higgs_data
    .agg(
        F.mean(F.col("_c0")).alias("mean_c0"),
        F.stddev(F.col("_c0")).alias("stddev_c0"),
    )
    .toPandas()
)

   mean_c0  stddev_c0
0  0.52992   0.499104

### Free cluster resources

In [10]:
spark.stop()